<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chmorn.mapper.DoubanMapper">
    <resultMap id="BasetMap" type="com.chmorn.entity.DoubanEntity">
        <!--@Table ap_indicator-->
        <id column="douban_id" jdbcType="VARCHAR" property="doubanId"/>
        <result column="douban_url" jdbcType="VARCHAR" property="doubanUrl"/>
        <result column="douban_score" jdbcType="VARCHAR" property="doubanScore"/>
        <result column="banner" jdbcType="VARCHAR" property="banner"/>
        <result column="name_origin" jdbcType="VARCHAR" property="nameOrigin"/>
        <result column="name_cn" jdbcType="VARCHAR" property="nameCn"/>
        <result column="name_alias" jdbcType="VARCHAR" property="nameAlias"/>
        <result column="imdb" jdbcType="VARCHAR" property="imdb"/>
        <result column="imdb_url" jdbcType="VARCHAR" property="imdbUrl"/>
        <result column="imdb_score" jdbcType="VARCHAR" property="imdbScore"/>
        <result column="director" jdbcType="VARCHAR" property="director"/>
        <result column="scriptwriter" jdbcType="VARCHAR" property="scriptwriter"/>
        <result column="stars" jdbcType="VARCHAR" property="stars"/>
        <result column="film_type" jdbcType="VARCHAR" property="filmType"/>
        <result column="website" jdbcType="VARCHAR" property="website"/>
        <result column="country" jdbcType="VARCHAR" property="country"/>
        <result column="lng" jdbcType="VARCHAR" property="lng"/>
        <result column="film_year" jdbcType="VARCHAR" property="filmYear"/>
        <result column="show_time" jdbcType="VARCHAR" property="showTime"/>
        <result column="film_length" jdbcType="VARCHAR" property="filmLength"/>
        <result column="film_desc" jdbcType="VARCHAR" property="filmDesc"/>
        <result column="film_label" jdbcType="VARCHAR" property="filmLabel"/>
        <result column="award" jdbcType="VARCHAR" property="award"/>
        <result column="update_time" jdbcType="DATE" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        douban_id
        ,douban_url,douban_score,banner,name_origin,name_cn,name_alias
        ,imdb,imdb_url,imdb_score,director,scriptwriter,stars,film_type
        ,website,country,lng,film_year,show_time,film_length,film_desc
        ,film_label,award,update_time
    </sql>

    <select id="getCount" resultType="int">
        select count(douban_id)
        from douban
    </select>

    <select id="getDoubanInfo" resultMap="BasetMap">
        select
        <include refid="Base_Column_List"/>
        from douban
        where douban_id = #{doubanId}
    </select>

    <!--    <select id="getApInd" parameterType="com.sunyard.rmis.entity.ApIndicatorEntity" resultType="java.util.Map">
            select ind_code as indCode,ind_name as indName,ind_desc as indDesc,ind_type as indType,
                src_tbl as srcTbl,formula,ind_spec as indSpec
            from ap_indicator
            <where>
                1=1
                <if test="indCode!=null and indCode!=''">
                    and ind_code = #{indCode}
                </if>
                <if test="indName!=null and indName!=''">
                    and ind_name like '%${indName}%'
                </if>
            </where>
        </select>-->

</mapper>